<script lang="ts" setup>
import { storeToRefs } from 'pinia';
import { useAuthStore } from '~/store/auth';

const router = useRouter();

const { logUserOut } = useAuthStore();
const { authenticated } = storeToRefs(useAuthStore()); // make authenticated state reactive

const logout = () => {
  logUserOut();
  router.push('/');
};
</script>

<template>
  <div>
    <UButton v-if="!authenticated"
             to="/login"
             label="Einloggen"
             class="btn_primary btn-auth_isLarge py-2"
             variant="ghost"
             type="button"
             :ui="{rounded: 'rounded-full', variant: { ghost: 'hover:bg-merlot-400 hover:border-merlot-400 border-2 border-beige-100 border-solid text-beige-100' }}"
    />
    <UButton v-if="authenticated"
             @click="logout"
             label="Ausloggen"
             class="btn_primary btn_logout btn-auth_isLarge"
             :ui="{rounded: 'rounded-full', variant: { solid: 'bg-merlot-700' }}"
    />

    <UButton v-if="!authenticated"
             to="/login"
             icon="i-heroicons-lock-closed"
             variant="ghost"
             type="button"
             :ui="{rounded: 'rounded-full', variant: { ghost: 'hover:bg-merlot-400 border-2 border-beige-100 border-solid text-beige-100' }}"
             class="btn_primary btn btn-auth_isSmall p-2"
    />
    <UButton v-if="authenticated"
             @click="logout"
             icon="i-heroicons-lock-open"
             :ui="{rounded: 'rounded-full'}"
             class="btn_primary p-2 btn_logout btn-auth_isSmall"
    />

  </div>
</template>

<style>
.btn-auth_isLarge {
  display: block;
}

.btn-auth_isSmall {
  display: none;
}

@media screen and (max-width: 800px) {
  .btn-auth_isLarge {
    display: none;
  }

  .btn-auth_isSmall {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
  }
}
</style>
