<script>
export default {
  data() {
    return {
      mobileMenuOpen: false,
      isOpen: false,
      ariaExpanded: false,
    };
  },
  methods: {
    showMobileMenu() {
      this.mobileMenuOpen = !this.mobileMenuOpen;
      this.isOpen = !this.isOpen;
      this.ariaExpanded = !this.ariaExpanded;
    },
  },
  watch: {
    $route() {
      this.isOpen = false;
    },
  },
};
</script>

<template>
    <div class="menu">
      <button
          @click="showMobileMenu"
          id="menuButton"
          class="mobile-menu__btn"
          :class="{ isOpen: isOpen }"
      >
        <svg id="mobile-menu__icon" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
          <path d="M0,4H28V0H0Z" transform="translate(3 25.001)" fill="#c47077"/>
          <path d="M0,4H20.469V0H0Z" transform="translate(10.531 15)" fill="#af3842"/>
          <path d="M0,0V4H28V0Z" transform="translate(3 5)" fill="#7e1e26"/>
        </svg>
      </button>
      <div :class="{ isOpen: isOpen }" class="menu__inner" role="menu" aria-labelledby="menuButton" aria-expanded="false">
        <div class="menu__header">
          <NuxtLink to="/">
            <img src="~/assets/img/drm-logo-white.svg" alt="Zur Startseite" aria-label="Zur Startseite"/>
          </NuxtLink>
          <button @click="showMobileMenu"
                  class="mobile-menu__close"
                  :class="{ isOpen: isOpen }"
          >
            <UIcon name="i-heroicons-x-mark-solid" class="text-white text-3xl"/>
          </button>
        </div>

        <div class="menu__main">
          <NuxtLink to="/recherche" class="menu__item t_allcaps" role="menuitem">Zur Sammlung</NuxtLink>
          <NuxtLink to="/ueber" class="menu__item t_allcaps" role="menuitem">Über das Projekt</NuxtLink>
          <NuxtLink to="/hilfe" class="menu__item t_allcaps" role="menuitem">Anleitung</NuxtLink>
          <a
              href=""
              target="_blank"
              class="menu__item t_allcaps"
          >Git Repositorium</a
          >
        </div>

        <div class="menu__bottom">
          <NuxtLink to="/kontakt" class="menu__item" role="menuitem">Kontakt</NuxtLink>
          <NuxtLink to="/impressum" class="menu__item" role="menuitem">Impressum</NuxtLink>
          <NuxtLink to="/datenschutz" class="menu__item" role="menuitem">Datenschutz</NuxtLink>
        </div>
      </div>
    </div>
</template>

<style>
.menu {
  @apply flex content-center relative;
}

.menu__inner {
  width: 50%;
  max-width: 25rem;
  height: 100vh;
  transform-origin: 0 0;
  transform: translateX(-2000%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  box-shadow: 10px 0 8px rgb(0 0 0 / 16%);
  top: 0;
  left: 0;
  padding: 3rem 2rem 5rem;
  gap: 0.75rem;
  @apply bg-merlot-700 flex flex-wrap flex-col fixed gap-16 z-30;
}

.menu__inner.isOpen {
  transform: translateX(0);
}

.menu__header {
  @apply flex justify-between;
}

.menu__main {
  @apply flex flex-col gap-4;
}

.menu__item {
  @apply text-white;
}

.menu__bottom {
  @apply flex flex-col gap-2;
}

@media screen and (max-width: 800px) {
  .menu__inner {
    width: 100%;
    max-width: 100%;
  }
}

</style>
