<script setup>

</script>

<template>
<div>
  <nav class="navbar flex gap-2 justify-end">
    <slot></slot>
    <UButton class="rounded-full bg-black w-[2.5rem] h-[2.5rem] p-4">?</UButton>
  </nav>
</div>
</template>

<style scoped>

</style>
