<script setup lang="ts">
import MainMenu from "~/components/MainMenu.vue";
</script>

<template>
  <div class="top">
    <header class="header layout__container">
      <main-menu />
      <nuxt-link to="/" class="flex items-center top__logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="85.974" height="28.392" viewBox="0 0 85.974 28.392">
          <defs>
            <linearGradient id="linear-gradient" x1="0.984" y1="0.5" x2="0" y2="0.5" gradientUnits="objectBoundingBox">
              <stop offset="0" stop-color="#cf6679"/>
              <stop offset="1" stop-color="#7e1e26"/>
            </linearGradient>
          </defs>
          <path id="drm" d="M3.78,0V-27.8h7.938a21.524,21.524,0,0,1,5.67.777,15.969,15.969,0,0,1,5.25,2.52,12.8,12.8,0,0,1,3.843,4.536,14.683,14.683,0,0,1,1.449,6.825,13.16,13.16,0,0,1-1.26,5.985,11.17,11.17,0,0,1-3.423,4.074A15,15,0,0,1,18.312-.756a21.932,21.932,0,0,1-5.8.756Zm7.9-1.428a13.3,13.3,0,0,0,6.069-1.344,9.786,9.786,0,0,0,4.2-4.095,14.151,14.151,0,0,0,1.533-6.951,13.535,13.535,0,0,0-1.2-5.8A12.159,12.159,0,0,0,19-23.9a11.909,11.909,0,0,0-4.725-2.394,25.268,25.268,0,0,0-3.339.252,18.158,18.158,0,0,0-3.045.63v23.6a9.938,9.938,0,0,0,1.68.273Q10.668-1.428,11.676-1.428ZM50.358.588l-9.744-13.86H37.38V0H33.264V-27.8h9.072a13.914,13.914,0,0,1,4.914.819,7.943,7.943,0,0,1,3.465,2.394A5.957,5.957,0,0,1,52-20.706a5.644,5.644,0,0,1-2.268,4.725,13.118,13.118,0,0,1-5.754,2.373L55.23,0ZM37.38-14.532h2.688a9.976,9.976,0,0,0,4.683-.882A4.973,4.973,0,0,0,47-17.661a6.692,6.692,0,0,0,.63-2.835,8.987,8.987,0,0,0-.1-.945A6.493,6.493,0,0,0,47-23.121a5.5,5.5,0,0,0-1.365-1.806,6.334,6.334,0,0,0-2.625-1.323,23.338,23.338,0,0,0-2.877.21,20.988,20.988,0,0,0-2.751.5ZM59.472,0l1.554-27.8h3.906l9.7,21.21L83.916-27.8H88.2L89.754,0H85.47L84.336-23.9h-.168L73.584,0H73L62.622-22.932h-.168L61.32,0Z" transform="translate(-3.78 27.804)" fill="url(#linear-gradient)"/>
        </svg>
      </nuxt-link>
      <slot></slot>
    </header>
  </div>
</template>

<style>
.header {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  gap: 1rem;
  padding: 1.7rem 0;
  align-content: center;
}

/*@media screen and (max-width: 500px) {
  .default .header {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
  }

  .default .slot-container {
    grid-column: 1/3;
  }
}*/

@media screen and (max-width: 1024px) {
  .header {
    padding: 1rem 0;
    gap: 0;
  }

  .header svg {
    transform: scale(0.8);
  }
}

</style>
