<script setup>

</script>
<template>
  <div class="text">
    <top>
      <nav-bar>
        <login-btn/>
      </nav-bar>
    </top>
    <slot />
    <bottom />
  </div>
</template>

<style>
.text main {
  min-height: 89vh;
}
</style>
