<script setup lang="ts">
definePageMeta({
  layout: "text",
});

useSeoMeta({
  title: "DRM - Impressum",
});
</script>
<template>
  <main class="layout__container_s">
    <h1>Impressum</h1>
    <h5 class="mb-2 font-medium">Herausgeber</h5>
    <p>Berlin-Brandenburgische Akademie der Wissenschaften<br>
      Jägerstraße 22/23<br>
      10117 Berlin<br>
      E-Mail: bbaw@bbaw.de
    </p>
    <h5 class="mb-2 mt-10 font-medium">Vertreter</h5>
    Prof. Dr. Dr. h. c. mult. Christoph Markschies<br>
    Tel. +49 30 20370-0
    <h5 class="mb-2 mt-10 font-medium">Konzept</h5>
    <p>Dr. Gordon Fischer, Anja Gerber</p>
    <h5 class="mb-2 mt-10 font-medium">Inhaltliche Entwicklung</h5>
    <p>Anja Gerber</p>
    <h5 class="mb-2 mt-10 font-medium">Technische Umsetzung</h5>
    <p>Dr. Gordon Fischer, Tanja Kuppel</p>
    <h5 class="mb-2 mt-10 font-medium">Webdesign</h5>
    <p><a href="https://tanjakuppel.netlify.app/" target="_blank">Tanja Kuppel</a></p>
    <h5 class="mb-2 mt-10 font-medium">Mitarbeit bei der Umsetzung</h5>
    <p>Stella Schlichtiger, Dr. Elke Zinsmeister</p>

    <h5 class="mb-2 mt-10 font-medium">Umsatzsteuer-Identifikationsnummer</h5>
      <p>DE 167 449 058 (gemäß §27 a Umsatzsteuergesetz)</p>

    <p class="mt-10">Die BBAW, ihre Mitglieder und Mitarbeiter bemühen sich um korrekte Informationen, können aber keine rechtliche
      Haftung irgendwelcher Art dafür übernehmen. Die Akademie respektiert das Urheberrecht. Sollten Sie sich in Rechten
      verletzt fühlen, bitten wir um Mitteilung.</p>

    <h2 class="mb-2 mt-10">Inhalt des Online-Angebots</h2>
    <p>Die Berlin-Brandenburgische Akademie der Wissenschaften (im Folgenden "die Autorin" genannt) übernimmt
      keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen.
      Haftungsansprüche gegen die Autorin, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch
      die Nutzung oder Nichtnutzung der dargebotenen Informationen verursacht wurden, sind grundsätzlich ausgeschlossen,
      sofern seitens der Autorin kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Die
      Autorin behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung
      zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>

    <h2 class="mb-2 mt-10">Verweise und Links</h2>
    <p>Bei direkten oder indirekten Verweisen auf fremde Internetseiten ("Links"), die außerhalb des
      Verantwortungsbereiches der Autorin liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft
      treten, in dem die Autorin von den Inhalten Kenntnis hat und es ihr technisch möglich und zumutbar wäre, die
      Nutzung im Falle rechtswidriger Inhalte zu verhindern. Die Autorin erklärt daher ausdrücklich, dass zum Zeitpunkt
      der Linksetzung die entsprechenden verlinkten Seiten frei von illegalen Inhalten waren. Die Autorin hat keinen
      Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verlinkten/verknüpften Seiten. Deshalb
      distanziert sie sich hiermit ausdrücklich von allen Inhalten aller verlinkten/verknüpften Seiten, die nach der
      Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für
      Fremd-Einträge in von der Autorin eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten. Für illegale,
      fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung
      solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite auf welche verwiesen wurde,
      nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.</p>

    <h2 class="mb-2 mt-10">Urheberrecht und Kennzeichenrecht</h2>
    <p>Die Autorin ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente,
      Videosequenzen und Texte zu beachten, von ihr selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu
      nutzen oder auf lizenzfreie Grafiken, Tondokumente, Video-Sequenzen und Texte zurückzugreifen. Alle innerhalb des
      Internetangebotes genannten und gegebenenfalls durch Dritte geschützten Marken- und Warenzeichen unterliegen
      uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen
      eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen
      nicht durch Rechte Dritter geschützt sind. Das Copyright für veröffentlichte, von der Autorin selbst erstellte
      Objekte bleibt allein bei der Autorin der Seiten.
      Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen
      elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung der Autorin nicht gestattet, wenn
      es den zulässigen Umfang überschreitet oder den zulässigen Zweck nicht erfüllt.</p>
  </main>
</template>

<style scoped>

</style>
