<script setup lang="ts">
definePageMeta({
  layout: "front",
});

useSeoMeta({
  title: "Der digitale Ressourcenmanager",
});
</script>

<template>
  <div>
    <main class="py-0">
      <section class="hero-header">
        <svg id="Ebene_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1465.1 596" preserveAspectRatio="none" class="hero-header__bg">
          <path id="bg_merlot" d="m-30.1-20.1l1505.4,5.2-418.8,634.5H-30.1V-20.1Z" style="fill:#7e1e26;"/>
          <path id="bg_transparent" d="m641.6-16.6h462.9l209.5,636.2h-487L641.6-16.6Z"
                style="fill:#f5ddbd; isolation:isolate; opacity:.4;"/>
        </svg>
        <div class="hero-header__title">
          <h5 class="opacity-70 text-white">Corpus Vitrearum Medii Aevi</h5>
          <h1 class="text-beige-100 mb-2">Der Digitale Ressourcenmanager</h1>
          <p class="mt-4 opacity-70 text-white">Erfassung, Recherche und Bildverwaltung mittelalterlicher Glasmalereien
            in Deutschland.</p>
        </div>
        <img src="~/assets/img/hadmersleben_peter_u_paul_sIII_01b_dl_2016_hk_d135653_A000956.jpg"
             class="hero-header__image h-full w-full object-cover" alt="Fenster Ausschnitt aus Hadmersleben Peter und Paul"/>
      </section>
      <section class="front__bg front__content-section">
        <div class="layout__container front__intro front__content">
          <div>
            <h2>Aufbereitung von Bilddateien für die Nachnutzbarkeit</h2>
            <p>Das interakademische Vorhaben Corpus Vitrearum Medii Aevi (CVMA) erforscht und inventarisiert
              mittelalterlicher
              Glasmalereien in Deutschland. Im Online-Bildarchiv <a
                  href="https://corpusvitrearum.de/cvma-digital/bildarchiv.html">www.corpusvitrearum.de</a>
              werden mit Metadaten versehene Fotografien zur Nachnutzung publiziert sowie ausgewählte Standorte mit
              ausführlicher Beschreibung als “Glasmalerei im Kontext” vorgestellt. Mit dem Digitalen Ressourcen Manager
              (DRM) werden die Bilddateien für die Veröffentlichung sowie Archivierung aufbereitet und für die
              wissenschaftliche Recherche zur Verfügung gestellt.</p>
          </div>
          <div>
            <img src="~/assets/img/front-teaser-image.svg" alt="Fotocollage mit Fenstern aus St. Peter und Paul und Marienkirche" />
          </div>
        </div>
        <div class="layout__container flex justify-center">
          <UButton to="recherche"
                   :ui="{ rounded: 'rounded-full', variant: { solid: 'text-white hover:bg-seagull-700 bg-seagull-500'}}"
                   class="uppercase tracking-wider mt-10 h-max py-4 px-5 custom-shadow"
          >
            Recherche starten
          </UButton>
        </div>
      </section>
      <section class="bg-white front__content-section">
        <div class="front__content layout__container">
          <h2 class="text-center">Initiatoren</h2>
          <p class="text-center">Der digitale Ressourcenmanager entstand in enger Zusammenarbeit zwischen
            <a href="https://www.bbaw.de/bbaw-digital/telota" target="_blank">TELOTA (BBAW)</a>,
            sowie der Potsdamer Arbeitsstelle des CVMA unter Beteiligung der Akademie der Wissenschaften und der Literatur Mainz.
            Das Projekt wurde gefördert durch die Nationale Forschungsdaten Infrastruktur for Culture.
          </p>
          <div class="flex gap-6 justify-center flex-wrap mt-10">
            <div class="front__partner-logo"><img src="~/assets/img/cvma-logo.png" alt="Logo CVMA"/></div>
            <div class="front__partner-logo"><img src="~/assets/img/bbaw-logo.png" alt="Logo BBAW"/></div>
            <div class="front__partner-logo"><img src="~/assets/img/nfdi4c-logo.svg" alt="Logo NFDI4C"/></div>
            <div class="front__partner-logo"><img src="~/assets/img/akademie-wiss-lit-logo.svg" alt="Logo Akademie der Wissenschaften und der Literatur Mainz"/></div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<style scoped>
.hero-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  height: 75vh;
  @apply bg-merlot-500;
}

.hero-header__image {
  height: 75vh;
  grid-column: 2 / 6;
  grid-row: 1 / 3;
}

.hero-header__bg {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  z-index: 1;
  height: 75vh;
  width: 100%;
}

.hero-header__title {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  z-index: 2;
  max-width: 40rem;
  @apply pb-4;
  margin-left: calc(var(--width) / 2);
  width: calc(100% - var(--width));
}

.front__bg {
  @apply bg-merlot-50;
  background-image: url("assets/img/front-section-bg.svg");
  background-repeat: no-repeat;
}

.front__intro {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2rem;
}

.front__partner-logo {
  @apply bg-gray-100 p-4 w-[16rem] h-[14rem] flex content-center;
}

.front__partner-logo img {
  object-fit: contain;
  width: 100%;
}

@media screen and (max-width: 1024px){
  .hero-header__title {
    max-width: 33rem;
  }

  .front__content-section {
    padding: 4rem 0;
  }

  .front__content {
    max-width: 60rem;
  }
}

@media screen and (min-width: 1024px) {
  .front__content-section {
    padding: 8rem 0;
  }

  .front__content {
    max-width: 75rem;
  }

  .front__intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .hero-header__image {
    grid-column: 1 / 6;
  }

  .hero-header__bg {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
  }

  .hero-header__title {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    align-self: center;
    word-break: break-word;
  }
}

@media screen and (min-width: 800px) and (max-width: 1440px) {
  .hero-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .hero-header__image {
    grid-column: 3 / 6;
  }

  .hero-header__bg {
    grid-column: 1 / 4;
  }

  .hero-header__title {
    grid-column: 1 / 4;
  }
}

@media screen and (min-width: 1440px) {
  .hero-header__title {
    transform: translateX(-4rem);
    margin-left: auto;
    margin-right: auto;
  }
}
</style>
