<script setup lang="ts">
definePageMeta({
  layout: "text",
});

useSeoMeta({
  title: "DRM - Kontakt",
});
</script>
<template>
  <main class="layout__container_s">
    <h1>Kontakt</h1>
    <h5 class="mb-2 mt-10 font-medium">Für inhaltliche Fragen</h5>
    <p>Dr. Elke Zinsmeister<br>
    Am Neuen Markt 8<br>
    14467 Potsdam<br>
    Telefon: +49 (0)331 2796 114<br>
    E-Mail: zinsmeister@bbaw.de</p>

    <h5 class="mb-2 mt-10 font-medium">Für technische Fragen</h5>
    <p>Dr. Gordon Fischer<br>
      Jägerstraße 22/23<br>
      10117 <br>
      Telefon: +49 (0)30 20370 505<br>
      E-Mail: gordon.fischer@bbaw.de</p>


  </main>
</template>

<style scoped>

</style>
