<script lang="ts" setup>
import { storeToRefs } from 'pinia';
import { useAuthStore } from '~/store/auth';

const { authenticateUser } = useAuthStore(); // use auth store

const { authenticated } = storeToRefs(useAuthStore()); // make authenticated state reactive

const user = ref({
  username: 'kminchelle',
  password: '0lelplR',
});
const router = useRouter();

const login = async () => {
  await authenticateUser(user.value);
  // redirect to homepage if user is authenticated
  if (authenticated) {
    router.push('/recherche');
  }
};
</script>

<template>
  <div>
    <top/>
    <main class="login layout__container_s">
      <h1>Login zum DRM</h1>
      <p>Bitte geben Sie Ihren Benutzernamen und Ihr Passwort ein, um sich für die Recherche und Bearbeitung der
        Sammlung anzumelden.</p>
      <form class="login__form w-full">
        <fieldset name="userFields">
          <label for="userName" class="text-gray-600 t_allcaps_s">Username</label>
          <UInput
              v-model="user.username"
              type="text"
              class="input"
              placeholder="Nutzername eingeben"
              name="userName"
              required
          />
        </fieldset>

        <fieldset name="passwordFields">
          <label for="psw" class="text-gray-600 t_allcaps_s">Password</label>
          <UInput
              v-model="user.password"
              type="password"
              class="input"
              placeholder="Enter Password"
              name="psw"
              required
          />
        </fieldset>

        <UButton @click.prevent="login" class="btn_primary w-max">Login</UButton>
      </form>
      <div class="login__signup mt-12">
        <p class="t_allcaps">Noch kein Nutzerkonto? Hier registrieren!</p>
        <UButton label="Registrieren" variant="outline" class="rounded-full btn_primary btn_outline w-max"/>
      </div>
    </main>
  </div>
</template>
<style scoped>
.login {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  min-height: 85vh
}

.login__form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}
</style>
